@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.input,
.textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.285em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  position: relative;
  vertical-align: top;
  background-color: white;
  border: 1px solid #dbdbdb;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%; }
  .input:focus, .input.is-focused, .input:active, .input.is-active,
  .textarea:focus,
  .textarea.is-focused,
  .textarea:active,
  .textarea.is-active {
    outline: none; }
  .input[disabled], .input.is-disabled,
  .textarea[disabled],
  .textarea.is-disabled {
    pointer-events: none; }
  .input:hover, .input.is-hovered,
  .textarea:hover,
  .textarea.is-hovered {
    border-color: #b5b5b5; }
  .input:focus, .input.is-focused, .input:active, .input.is-active,
  .textarea:focus,
  .textarea.is-focused,
  .textarea:active,
  .textarea.is-active {
    border-color: #00d1b2; }
  .input[disabled], .input.is-disabled,
  .textarea[disabled],
  .textarea.is-disabled {
    background-color: whitesmoke;
    border-color: whitesmoke;
    box-shadow: none;
    color: #7a7a7a; }
    .input[disabled]::-moz-placeholder, .input.is-disabled::-moz-placeholder,
    .textarea[disabled]::-moz-placeholder,
    .textarea.is-disabled::-moz-placeholder {
      color: rgba(54, 54, 54, 0.3); }
    .input[disabled]::-webkit-input-placeholder, .input.is-disabled::-webkit-input-placeholder,
    .textarea[disabled]::-webkit-input-placeholder,
    .textarea.is-disabled::-webkit-input-placeholder {
      color: rgba(54, 54, 54, 0.3); }
    .input[disabled]:-moz-placeholder, .input.is-disabled:-moz-placeholder,
    .textarea[disabled]:-moz-placeholder,
    .textarea.is-disabled:-moz-placeholder {
      color: rgba(54, 54, 54, 0.3); }
    .input[disabled]:-ms-input-placeholder, .input.is-disabled:-ms-input-placeholder,
    .textarea[disabled]:-ms-input-placeholder,
    .textarea.is-disabled:-ms-input-placeholder {
      color: rgba(54, 54, 54, 0.3); }
  .input[type="search"],
  .textarea[type="search"] {
    border-radius: 290486px; }
  .input.is-white,
  .textarea.is-white {
    border-color: white; }
  .input.is-black,
  .textarea.is-black {
    border-color: #0a0a0a; }
  .input.is-light,
  .textarea.is-light {
    border-color: whitesmoke; }
  .input.is-dark,
  .textarea.is-dark {
    border-color: #363636; }
  .input.is-primary,
  .textarea.is-primary {
    border-color: #00d1b2; }
  .input.is-info,
  .textarea.is-info {
    border-color: #3273dc; }
  .input.is-success,
  .textarea.is-success {
    border-color: #23d160; }
  .input.is-warning,
  .textarea.is-warning {
    border-color: #ffdd57; }
  .input.is-danger,
  .textarea.is-danger {
    border-color: #ff3860; }
  .input.is-small,
  .textarea.is-small {
    border-radius: 2px;
    font-size: 0.75rem; }
  .input.is-medium,
  .textarea.is-medium {
    font-size: 1.25rem; }
  .input.is-large,
  .textarea.is-large {
    font-size: 1.5rem; }
  .input.is-fullwidth,
  .textarea.is-fullwidth {
    display: block;
    width: 100%; }
  .input.is-inline,
  .textarea.is-inline {
    display: inline;
    width: auto; }

.textarea {
  display: block;
  line-height: 1.25;
  max-height: 600px;
  max-width: 100%;
  min-height: 120px;
  min-width: 100%;
  padding: 10px;
  resize: vertical; }

.checkbox,
.radio {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  vertical-align: top; }
  .checkbox input,
  .radio input {
    cursor: pointer;
    margin-right: 0.5em; }
  .checkbox:hover,
  .radio:hover {
    color: #363636; }
  .checkbox.is-disabled,
  .radio.is-disabled {
    color: #7a7a7a;
    pointer-events: none; }
    .checkbox.is-disabled input,
    .radio.is-disabled input {
      pointer-events: none; }

.radio + .radio {
  margin-left: 0.5em; }

.select {
  display: inline-block;
  height: 2.5em;
  position: relative;
  vertical-align: top; }
  .select:after {
    border: 1px solid #00d1b2;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
    z-index: 4; }
  .select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.285em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    position: relative;
    vertical-align: top;
    background-color: white;
    border: 1px solid #dbdbdb;
    color: #363636;
    cursor: pointer;
    display: block;
    font-size: 1em;
    outline: none;
    padding-right: 2.5em; }
    .select select:focus, .select select.is-focused, .select select:active, .select select.is-active {
      outline: none; }
    .select select[disabled], .select select.is-disabled {
      pointer-events: none; }
    .select select:hover, .select select.is-hovered {
      border-color: #b5b5b5; }
    .select select:focus, .select select.is-focused, .select select:active, .select select.is-active {
      border-color: #00d1b2; }
    .select select[disabled], .select select.is-disabled {
      background-color: whitesmoke;
      border-color: whitesmoke;
      box-shadow: none;
      color: #7a7a7a; }
      .select select[disabled]::-moz-placeholder, .select select.is-disabled::-moz-placeholder {
        color: rgba(54, 54, 54, 0.3); }
      .select select[disabled]::-webkit-input-placeholder, .select select.is-disabled::-webkit-input-placeholder {
        color: rgba(54, 54, 54, 0.3); }
      .select select[disabled]:-moz-placeholder, .select select.is-disabled:-moz-placeholder {
        color: rgba(54, 54, 54, 0.3); }
      .select select[disabled]:-ms-input-placeholder, .select select.is-disabled:-ms-input-placeholder {
        color: rgba(54, 54, 54, 0.3); }
    .select select:hover {
      border-color: #b5b5b5; }
    .select select::ms-expand {
      display: none; }
  .select:hover:after {
    border-color: #363636; }
  .select.is-small {
    border-radius: 2px;
    font-size: 0.75rem; }
  .select.is-medium {
    font-size: 1.25rem; }
  .select.is-large {
    font-size: 1.5rem; }
  .select.is-fullwidth {
    width: 100%; }
    .select.is-fullwidth select {
      width: 100%; }

.label {
  color: #363636;
  display: block;
  font-weight: bold; }
  .label:not(:last-child) {
    margin-bottom: 0.5em; }

.help {
  display: block;
  font-size: 0.75rem;
  margin-top: 5px; }
  .help.is-white {
    color: white; }
  .help.is-black {
    color: #0a0a0a; }
  .help.is-light {
    color: whitesmoke; }
  .help.is-dark {
    color: #363636; }
  .help.is-primary {
    color: #00d1b2; }
  .help.is-info {
    color: #3273dc; }
  .help.is-success {
    color: #23d160; }
  .help.is-warning {
    color: #ffdd57; }
  .help.is-danger {
    color: #ff3860; }

@media screen and (max-width: 768px) {
  .control-label {
    margin-bottom: 0.5em; } }

@media screen and (min-width: 769px) {
  .control-label {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 1.5em;
    padding-top: 0.5em;
    text-align: right; } }

.control {
  position: relative;
  text-align: left; }
  .control:not(:last-child) {
    margin-bottom: 0.75rem; }
  .control.has-addons {
    display: flex;
    justify-content: flex-start; }
    .control.has-addons .button,
    .control.has-addons .input,
    .control.has-addons .select {
      border-radius: 0;
      margin-right: -1px;
      width: auto; }
      .control.has-addons .button:hover,
      .control.has-addons .input:hover,
      .control.has-addons .select:hover {
        z-index: 2; }
      .control.has-addons .button:focus, .control.has-addons .button:active,
      .control.has-addons .input:focus,
      .control.has-addons .input:active,
      .control.has-addons .select:focus,
      .control.has-addons .select:active {
        z-index: 3; }
      .control.has-addons .button:first-child,
      .control.has-addons .input:first-child,
      .control.has-addons .select:first-child {
        border-radius: 3px 0 0 3px; }
        .control.has-addons .button:first-child select,
        .control.has-addons .input:first-child select,
        .control.has-addons .select:first-child select {
          border-radius: 3px 0 0 3px; }
      .control.has-addons .button:last-child,
      .control.has-addons .input:last-child,
      .control.has-addons .select:last-child {
        border-radius: 0 3px 3px 0; }
        .control.has-addons .button:last-child select,
        .control.has-addons .input:last-child select,
        .control.has-addons .select:last-child select {
          border-radius: 0 3px 3px 0; }
      .control.has-addons .button.is-expanded,
      .control.has-addons .input.is-expanded,
      .control.has-addons .select.is-expanded {
        flex-grow: 1;
        flex-shrink: 0; }
    .control.has-addons .select select:hover {
      z-index: 2; }
    .control.has-addons .select select:focus, .control.has-addons .select select:active {
      z-index: 3; }
    .control.has-addons.has-addons-centered {
      justify-content: center; }
    .control.has-addons.has-addons-right {
      justify-content: flex-end; }
    .control.has-addons.has-addons-fullwidth .button,
    .control.has-addons.has-addons-fullwidth .input,
    .control.has-addons.has-addons-fullwidth .select {
      flex-grow: 1;
      flex-shrink: 0; }
  .control.has-icon .icon {
    color: #dbdbdb;
    pointer-events: none;
    position: absolute;
    top: 1.25rem;
    z-index: 4; }
  .control.has-icon .input:focus + .icon {
    color: #7a7a7a; }
  .control.has-icon .input.is-small + .icon {
    top: 0.9375rem; }
  .control.has-icon .input.is-medium + .icon {
    top: 1.5625rem; }
  .control.has-icon .input.is-large + .icon {
    top: 1.875rem; }
  .control.has-icon:not(.has-icon-right) .icon {
    left: 1.25rem;
    transform: translateX(-50%) translateY(-50%); }
  .control.has-icon:not(.has-icon-right) .input {
    padding-left: 2.5em; }
    .control.has-icon:not(.has-icon-right) .input.is-small + .icon {
      left: 0.9375rem; }
    .control.has-icon:not(.has-icon-right) .input.is-medium + .icon {
      left: 1.5625rem; }
    .control.has-icon:not(.has-icon-right) .input.is-large + .icon {
      left: 1.875rem; }
  .control.has-icon.has-icon-right .icon {
    right: 1.25rem;
    transform: translateX(50%) translateY(-50%); }
  .control.has-icon.has-icon-right .input {
    padding-right: 2.5em; }
    .control.has-icon.has-icon-right .input.is-small + .icon {
      right: 0.9375rem; }
    .control.has-icon.has-icon-right .input.is-medium + .icon {
      right: 1.5625rem; }
    .control.has-icon.has-icon-right .input.is-large + .icon {
      right: 1.875rem; }
  .control.is-grouped {
    display: flex;
    justify-content: flex-start; }
    .control.is-grouped > .control {
      flex-basis: 0;
      flex-shrink: 0; }
      .control.is-grouped > .control:not(:last-child) {
        margin-bottom: 0;
        margin-right: 0.75rem; }
      .control.is-grouped > .control.is-expanded {
        flex-grow: 1;
        flex-shrink: 1; }
    .control.is-grouped.is-grouped-centered {
      justify-content: center; }
    .control.is-grouped.is-grouped-right {
      justify-content: flex-end; }
  @media screen and (min-width: 769px) {
    .control.is-horizontal {
      display: flex; }
      .control.is-horizontal > .control {
        display: flex;
        flex-basis: 0;
        flex-grow: 5;
        flex-shrink: 1; } }
  .control.is-loading:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1rem;
    position: relative;
    width: 1rem;
    position: absolute !important;
    right: 0.75em;
    top: 0.75em; }

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.285em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  border: 1px solid #dbdbdb;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  white-space: nowrap; }
  .button:focus, .button.is-focused, .button:active, .button.is-active {
    outline: none; }
  .button[disabled], .button.is-disabled {
    pointer-events: none; }
  .button strong {
    color: inherit; }
  .button .icon:first-child:not(:last-child) {
    margin-left: -0.25rem;
    margin-right: 0.5rem; }
  .button .icon:last-child:not(:first-child) {
    margin-left: 0.5rem;
    margin-right: -0.25rem; }
  .button .icon:first-child:last-child {
    margin-left: calc(-1px + -0.25rem);
    margin-right: calc(-1px + -0.25rem); }
  .button .icon.is-small:first-child:not(:last-child) {
    margin-left: 0rem; }
  .button .icon.is-small:last-child:not(:first-child) {
    margin-right: 0rem; }
  .button .icon.is-small:first-child:last-child {
    margin-left: calc(-1px + 0rem);
    margin-right: calc(-1px + 0rem); }
  .button .icon.is-medium:first-child:not(:last-child) {
    margin-left: -0.5rem; }
  .button .icon.is-medium:last-child:not(:first-child) {
    margin-right: -0.5rem; }
  .button .icon.is-medium:first-child:last-child {
    margin-left: calc(-1px + -0.5rem);
    margin-right: calc(-1px + -0.5rem); }
  .button .icon.is-large:first-child:not(:last-child) {
    margin-left: -1rem; }
  .button .icon.is-large:last-child:not(:first-child) {
    margin-right: -1rem; }
  .button .icon.is-large:first-child:last-child {
    margin-left: calc(-1px + -1rem);
    margin-right: calc(-1px + -1rem); }
  .button:hover, .button.is-hovered {
    border-color: #b5b5b5;
    color: #363636; }
  .button:focus, .button.is-focused {
    border-color: #00d1b2;
    box-shadow: 0 0 0.5em rgba(0, 209, 178, 0.25);
    color: #363636; }
  .button:active, .button.is-active {
    border-color: #4a4a4a;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
    color: #363636; }
  .button.is-link {
    background-color: transparent;
    border-color: transparent;
    color: #4a4a4a;
    text-decoration: underline; }
    .button.is-link:hover, .button.is-link.is-hovered, .button.is-link:focus, .button.is-link.is-focused, .button.is-link:active, .button.is-link.is-active {
      background-color: whitesmoke;
      color: #363636; }
  .button.is-white {
    background-color: white;
    border-color: transparent;
    color: #0a0a0a; }
    .button.is-white:hover, .button.is-white.is-hovered {
      background-color: #f9f9f9;
      border-color: transparent;
      color: #0a0a0a; }
    .button.is-white:focus, .button.is-white.is-focused {
      border-color: transparent;
      box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.25);
      color: #0a0a0a; }
    .button.is-white:active, .button.is-white.is-active {
      background-color: #f2f2f2;
      border-color: transparent;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
      color: #0a0a0a; }
    .button.is-white.is-inverted {
      background-color: #0a0a0a;
      color: white; }
      .button.is-white.is-inverted:hover {
        background-color: black; }
    .button.is-white.is-loading:after {
      border-color: transparent transparent #0a0a0a #0a0a0a !important; }
    .button.is-white.is-outlined {
      background-color: transparent;
      border-color: white;
      color: white; }
      .button.is-white.is-outlined:hover, .button.is-white.is-outlined:focus {
        background-color: white;
        border-color: white;
        color: #0a0a0a; }
    .button.is-white.is-inverted.is-outlined {
      background-color: transparent;
      border-color: #0a0a0a;
      color: #0a0a0a; }
      .button.is-white.is-inverted.is-outlined:hover, .button.is-white.is-inverted.is-outlined:focus {
        background-color: #0a0a0a;
        color: white; }
  .button.is-black {
    background-color: #0a0a0a;
    border-color: transparent;
    color: white; }
    .button.is-black:hover, .button.is-black.is-hovered {
      background-color: #040404;
      border-color: transparent;
      color: white; }
    .button.is-black:focus, .button.is-black.is-focused {
      border-color: transparent;
      box-shadow: 0 0 0.5em rgba(10, 10, 10, 0.25);
      color: white; }
    .button.is-black:active, .button.is-black.is-active {
      background-color: black;
      border-color: transparent;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
      color: white; }
    .button.is-black.is-inverted {
      background-color: white;
      color: #0a0a0a; }
      .button.is-black.is-inverted:hover {
        background-color: #f2f2f2; }
    .button.is-black.is-loading:after {
      border-color: transparent transparent white white !important; }
    .button.is-black.is-outlined {
      background-color: transparent;
      border-color: #0a0a0a;
      color: #0a0a0a; }
      .button.is-black.is-outlined:hover, .button.is-black.is-outlined:focus {
        background-color: #0a0a0a;
        border-color: #0a0a0a;
        color: white; }
    .button.is-black.is-inverted.is-outlined {
      background-color: transparent;
      border-color: white;
      color: white; }
      .button.is-black.is-inverted.is-outlined:hover, .button.is-black.is-inverted.is-outlined:focus {
        background-color: white;
        color: #0a0a0a; }
  .button.is-light {
    background-color: whitesmoke;
    border-color: transparent;
    color: #363636; }
    .button.is-light:hover, .button.is-light.is-hovered {
      background-color: #eeeeee;
      border-color: transparent;
      color: #363636; }
    .button.is-light:focus, .button.is-light.is-focused {
      border-color: transparent;
      box-shadow: 0 0 0.5em rgba(245, 245, 245, 0.25);
      color: #363636; }
    .button.is-light:active, .button.is-light.is-active {
      background-color: #e8e8e8;
      border-color: transparent;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
      color: #363636; }
    .button.is-light.is-inverted {
      background-color: #363636;
      color: whitesmoke; }
      .button.is-light.is-inverted:hover {
        background-color: #292929; }
    .button.is-light.is-loading:after {
      border-color: transparent transparent #363636 #363636 !important; }
    .button.is-light.is-outlined {
      background-color: transparent;
      border-color: whitesmoke;
      color: whitesmoke; }
      .button.is-light.is-outlined:hover, .button.is-light.is-outlined:focus {
        background-color: whitesmoke;
        border-color: whitesmoke;
        color: #363636; }
    .button.is-light.is-inverted.is-outlined {
      background-color: transparent;
      border-color: #363636;
      color: #363636; }
      .button.is-light.is-inverted.is-outlined:hover, .button.is-light.is-inverted.is-outlined:focus {
        background-color: #363636;
        color: whitesmoke; }
  .button.is-dark {
    background-color: #363636;
    border-color: transparent;
    color: whitesmoke; }
    .button.is-dark:hover, .button.is-dark.is-hovered {
      background-color: #2f2f2f;
      border-color: transparent;
      color: whitesmoke; }
    .button.is-dark:focus, .button.is-dark.is-focused {
      border-color: transparent;
      box-shadow: 0 0 0.5em rgba(54, 54, 54, 0.25);
      color: whitesmoke; }
    .button.is-dark:active, .button.is-dark.is-active {
      background-color: #292929;
      border-color: transparent;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
      color: whitesmoke; }
    .button.is-dark.is-inverted {
      background-color: whitesmoke;
      color: #363636; }
      .button.is-dark.is-inverted:hover {
        background-color: #e8e8e8; }
    .button.is-dark.is-loading:after {
      border-color: transparent transparent whitesmoke whitesmoke !important; }
    .button.is-dark.is-outlined {
      background-color: transparent;
      border-color: #363636;
      color: #363636; }
      .button.is-dark.is-outlined:hover, .button.is-dark.is-outlined:focus {
        background-color: #363636;
        border-color: #363636;
        color: whitesmoke; }
    .button.is-dark.is-inverted.is-outlined {
      background-color: transparent;
      border-color: whitesmoke;
      color: whitesmoke; }
      .button.is-dark.is-inverted.is-outlined:hover, .button.is-dark.is-inverted.is-outlined:focus {
        background-color: whitesmoke;
        color: #363636; }
  .button.is-primary {
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff; }
    .button.is-primary:hover, .button.is-primary.is-hovered {
      background-color: #00c4a7;
      border-color: transparent;
      color: #fff; }
    .button.is-primary:focus, .button.is-primary.is-focused {
      border-color: transparent;
      box-shadow: 0 0 0.5em rgba(0, 209, 178, 0.25);
      color: #fff; }
    .button.is-primary:active, .button.is-primary.is-active {
      background-color: #00b89c;
      border-color: transparent;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
      color: #fff; }
    .button.is-primary.is-inverted {
      background-color: #fff;
      color: #00d1b2; }
      .button.is-primary.is-inverted:hover {
        background-color: #f2f2f2; }
    .button.is-primary.is-loading:after {
      border-color: transparent transparent #fff #fff !important; }
    .button.is-primary.is-outlined {
      background-color: transparent;
      border-color: #00d1b2;
      color: #00d1b2; }
      .button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus {
        background-color: #00d1b2;
        border-color: #00d1b2;
        color: #fff; }
    .button.is-primary.is-inverted.is-outlined {
      background-color: transparent;
      border-color: #fff;
      color: #fff; }
      .button.is-primary.is-inverted.is-outlined:hover, .button.is-primary.is-inverted.is-outlined:focus {
        background-color: #fff;
        color: #00d1b2; }
  .button.is-info {
    background-color: #3273dc;
    border-color: transparent;
    color: #fff; }
    .button.is-info:hover, .button.is-info.is-hovered {
      background-color: #276cda;
      border-color: transparent;
      color: #fff; }
    .button.is-info:focus, .button.is-info.is-focused {
      border-color: transparent;
      box-shadow: 0 0 0.5em rgba(50, 115, 220, 0.25);
      color: #fff; }
    .button.is-info:active, .button.is-info.is-active {
      background-color: #2366d1;
      border-color: transparent;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
      color: #fff; }
    .button.is-info.is-inverted {
      background-color: #fff;
      color: #3273dc; }
      .button.is-info.is-inverted:hover {
        background-color: #f2f2f2; }
    .button.is-info.is-loading:after {
      border-color: transparent transparent #fff #fff !important; }
    .button.is-info.is-outlined {
      background-color: transparent;
      border-color: #3273dc;
      color: #3273dc; }
      .button.is-info.is-outlined:hover, .button.is-info.is-outlined:focus {
        background-color: #3273dc;
        border-color: #3273dc;
        color: #fff; }
    .button.is-info.is-inverted.is-outlined {
      background-color: transparent;
      border-color: #fff;
      color: #fff; }
      .button.is-info.is-inverted.is-outlined:hover, .button.is-info.is-inverted.is-outlined:focus {
        background-color: #fff;
        color: #3273dc; }
  .button.is-success {
    background-color: #23d160;
    border-color: transparent;
    color: #fff; }
    .button.is-success:hover, .button.is-success.is-hovered {
      background-color: #22c65b;
      border-color: transparent;
      color: #fff; }
    .button.is-success:focus, .button.is-success.is-focused {
      border-color: transparent;
      box-shadow: 0 0 0.5em rgba(35, 209, 96, 0.25);
      color: #fff; }
    .button.is-success:active, .button.is-success.is-active {
      background-color: #20bc56;
      border-color: transparent;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
      color: #fff; }
    .button.is-success.is-inverted {
      background-color: #fff;
      color: #23d160; }
      .button.is-success.is-inverted:hover {
        background-color: #f2f2f2; }
    .button.is-success.is-loading:after {
      border-color: transparent transparent #fff #fff !important; }
    .button.is-success.is-outlined {
      background-color: transparent;
      border-color: #23d160;
      color: #23d160; }
      .button.is-success.is-outlined:hover, .button.is-success.is-outlined:focus {
        background-color: #23d160;
        border-color: #23d160;
        color: #fff; }
    .button.is-success.is-inverted.is-outlined {
      background-color: transparent;
      border-color: #fff;
      color: #fff; }
      .button.is-success.is-inverted.is-outlined:hover, .button.is-success.is-inverted.is-outlined:focus {
        background-color: #fff;
        color: #23d160; }
  .button.is-warning {
    background-color: #ffdd57;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7); }
    .button.is-warning:hover, .button.is-warning.is-hovered {
      background-color: #ffdb4a;
      border-color: transparent;
      color: rgba(0, 0, 0, 0.7); }
    .button.is-warning:focus, .button.is-warning.is-focused {
      border-color: transparent;
      box-shadow: 0 0 0.5em rgba(255, 221, 87, 0.25);
      color: rgba(0, 0, 0, 0.7); }
    .button.is-warning:active, .button.is-warning.is-active {
      background-color: #ffd83d;
      border-color: transparent;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
      color: rgba(0, 0, 0, 0.7); }
    .button.is-warning.is-inverted {
      background-color: rgba(0, 0, 0, 0.7);
      color: #ffdd57; }
      .button.is-warning.is-inverted:hover {
        background-color: rgba(0, 0, 0, 0.7); }
    .button.is-warning.is-loading:after {
      border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7) !important; }
    .button.is-warning.is-outlined {
      background-color: transparent;
      border-color: #ffdd57;
      color: #ffdd57; }
      .button.is-warning.is-outlined:hover, .button.is-warning.is-outlined:focus {
        background-color: #ffdd57;
        border-color: #ffdd57;
        color: rgba(0, 0, 0, 0.7); }
    .button.is-warning.is-inverted.is-outlined {
      background-color: transparent;
      border-color: rgba(0, 0, 0, 0.7);
      color: rgba(0, 0, 0, 0.7); }
      .button.is-warning.is-inverted.is-outlined:hover, .button.is-warning.is-inverted.is-outlined:focus {
        background-color: rgba(0, 0, 0, 0.7);
        color: #ffdd57; }
  .button.is-danger {
    background-color: #ff3860;
    border-color: transparent;
    color: #fff; }
    .button.is-danger:hover, .button.is-danger.is-hovered {
      background-color: #ff2b56;
      border-color: transparent;
      color: #fff; }
    .button.is-danger:focus, .button.is-danger.is-focused {
      border-color: transparent;
      box-shadow: 0 0 0.5em rgba(255, 56, 96, 0.25);
      color: #fff; }
    .button.is-danger:active, .button.is-danger.is-active {
      background-color: #ff1f4b;
      border-color: transparent;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
      color: #fff; }
    .button.is-danger.is-inverted {
      background-color: #fff;
      color: #ff3860; }
      .button.is-danger.is-inverted:hover {
        background-color: #f2f2f2; }
    .button.is-danger.is-loading:after {
      border-color: transparent transparent #fff #fff !important; }
    .button.is-danger.is-outlined {
      background-color: transparent;
      border-color: #ff3860;
      color: #ff3860; }
      .button.is-danger.is-outlined:hover, .button.is-danger.is-outlined:focus {
        background-color: #ff3860;
        border-color: #ff3860;
        color: #fff; }
    .button.is-danger.is-inverted.is-outlined {
      background-color: transparent;
      border-color: #fff;
      color: #fff; }
      .button.is-danger.is-inverted.is-outlined:hover, .button.is-danger.is-inverted.is-outlined:focus {
        background-color: #fff;
        color: #ff3860; }
  .button.is-small {
    border-radius: 2px;
    font-size: 0.75rem; }
    .button.is-small .icon:first-child:not(:last-child) {
      margin-left: -0.375rem;
      margin-right: 0.375rem; }
    .button.is-small .icon:last-child:not(:first-child) {
      margin-left: 0.375rem;
      margin-right: -0.375rem; }
    .button.is-small .icon:first-child:last-child {
      margin-left: calc(-1px + -0.375rem);
      margin-right: calc(-1px + -0.375rem); }
    .button.is-small .icon.is-small:first-child:not(:last-child) {
      margin-left: -0.125rem; }
    .button.is-small .icon.is-small:last-child:not(:first-child) {
      margin-right: -0.125rem; }
    .button.is-small .icon.is-small:first-child:last-child {
      margin-left: calc(-1px + -0.125rem);
      margin-right: calc(-1px + -0.125rem); }
    .button.is-small .icon.is-medium:first-child:not(:last-child) {
      margin-left: -0.625rem; }
    .button.is-small .icon.is-medium:last-child:not(:first-child) {
      margin-right: -0.625rem; }
    .button.is-small .icon.is-medium:first-child:last-child {
      margin-left: calc(-1px + -0.625rem);
      margin-right: calc(-1px + -0.625rem); }
    .button.is-small .icon.is-large:first-child:not(:last-child) {
      margin-left: -1.125rem; }
    .button.is-small .icon.is-large:last-child:not(:first-child) {
      margin-right: -1.125rem; }
    .button.is-small .icon.is-large:first-child:last-child {
      margin-left: calc(-1px + -1.125rem);
      margin-right: calc(-1px + -1.125rem); }
  .button.is-medium {
    font-size: 1.25rem; }
    .button.is-medium .icon:first-child:not(:last-child) {
      margin-left: -0.125rem;
      margin-right: 0.625rem; }
    .button.is-medium .icon:last-child:not(:first-child) {
      margin-left: 0.625rem;
      margin-right: -0.125rem; }
    .button.is-medium .icon:first-child:last-child {
      margin-left: calc(-1px + -0.125rem);
      margin-right: calc(-1px + -0.125rem); }
    .button.is-medium .icon.is-small:first-child:not(:last-child) {
      margin-left: 0.125rem; }
    .button.is-medium .icon.is-small:last-child:not(:first-child) {
      margin-right: 0.125rem; }
    .button.is-medium .icon.is-small:first-child:last-child {
      margin-left: calc(-1px + 0.125rem);
      margin-right: calc(-1px + 0.125rem); }
    .button.is-medium .icon.is-medium:first-child:not(:last-child) {
      margin-left: -0.375rem; }
    .button.is-medium .icon.is-medium:last-child:not(:first-child) {
      margin-right: -0.375rem; }
    .button.is-medium .icon.is-medium:first-child:last-child {
      margin-left: calc(-1px + -0.375rem);
      margin-right: calc(-1px + -0.375rem); }
    .button.is-medium .icon.is-large:first-child:not(:last-child) {
      margin-left: -0.875rem; }
    .button.is-medium .icon.is-large:last-child:not(:first-child) {
      margin-right: -0.875rem; }
    .button.is-medium .icon.is-large:first-child:last-child {
      margin-left: calc(-1px + -0.875rem);
      margin-right: calc(-1px + -0.875rem); }
  .button.is-large {
    font-size: 1.5rem; }
    .button.is-large .icon:first-child:not(:last-child) {
      margin-left: 0rem;
      margin-right: 0.75rem; }
    .button.is-large .icon:last-child:not(:first-child) {
      margin-left: 0.75rem;
      margin-right: 0rem; }
    .button.is-large .icon:first-child:last-child {
      margin-left: calc(-1px + 0rem);
      margin-right: calc(-1px + 0rem); }
    .button.is-large .icon.is-small:first-child:not(:last-child) {
      margin-left: 0.25rem; }
    .button.is-large .icon.is-small:last-child:not(:first-child) {
      margin-right: 0.25rem; }
    .button.is-large .icon.is-small:first-child:last-child {
      margin-left: calc(-1px + 0.25rem);
      margin-right: calc(-1px + 0.25rem); }
    .button.is-large .icon.is-medium:first-child:not(:last-child) {
      margin-left: -0.25rem; }
    .button.is-large .icon.is-medium:last-child:not(:first-child) {
      margin-right: -0.25rem; }
    .button.is-large .icon.is-medium:first-child:last-child {
      margin-left: calc(-1px + -0.25rem);
      margin-right: calc(-1px + -0.25rem); }
    .button.is-large .icon.is-large:first-child:not(:last-child) {
      margin-left: -0.75rem; }
    .button.is-large .icon.is-large:last-child:not(:first-child) {
      margin-right: -0.75rem; }
    .button.is-large .icon.is-large:first-child:last-child {
      margin-left: calc(-1px + -0.75rem);
      margin-right: calc(-1px + -0.75rem); }
  .button[disabled], .button.is-disabled {
    opacity: 0.5; }
  .button.is-fullwidth {
    display: flex;
    width: 100%; }
  .button.is-loading {
    color: transparent !important;
    pointer-events: none; }
    .button.is-loading:after {
      animation: spinAround 500ms infinite linear;
      border: 2px solid #dbdbdb;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 1rem;
      position: relative;
      width: 1rem;
      left: 50%;
      margin-left: -8px;
      margin-top: -8px;
      position: absolute;
      top: 50%;
      position: absolute !important; }

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block; }

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em; }

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; }

.resp-sharing-button__icon svg {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  vertical-align: top; }

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle; }

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none; }

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none; }

.resp-sharing-button--twitter {
  background-color: #55acee; }

.resp-sharing-button--twitter:hover {
  background-color: #2795e9; }

.resp-sharing-button--pinterest {
  background-color: #bd081c; }

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615; }

.resp-sharing-button--facebook {
  background-color: #3b5998; }

.resp-sharing-button--facebook:hover {
  background-color: #2d4373; }

.resp-sharing-button--tumblr {
  background-color: #35465C; }

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c; }

.resp-sharing-button--reddit {
  background-color: #5f99cf; }

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1; }

.resp-sharing-button--google {
  background-color: #dd4b39; }

.resp-sharing-button--google:hover {
  background-color: #c23321; }

.resp-sharing-button--linkedin {
  background-color: #0077b5; }

.resp-sharing-button--linkedin:hover {
  background-color: #046293; }

.resp-sharing-button--email {
  background-color: #777; }

.resp-sharing-button--email:hover {
  background-color: #5e5e5e; }

.resp-sharing-button--xing {
  background-color: #1a7576; }

.resp-sharing-button--xing:hover {
  background-color: #114c4c; }

.resp-sharing-button--whatsapp {
  background-color: #25D366; }

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851; }

.resp-sharing-button--hackernews {
  background-color: #FF6600; }

.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {
  background-color: #FB6200; }

.resp-sharing-button--vk {
  background-color: #507299; }

.resp-sharing-button--vk:hover {
  background-color: #43648c; }

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998; }

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373; }

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee; }

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9; }

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39; }

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321; }

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777; }

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e; }

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5; }

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293; }

.sharing {
  display: flex;
  justify-content: center;
  background-color: #eee;
  border: 3px solid #ddd;
  padding: 12px 10px;
  border-radius: 3px; }

body {
  height: 100vh;
  background-color: #14317b;
  background-image: url("/img/site-bg.jpg"); }

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 6px;
  padding: 100px;
  max-width: 600px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.39), 0 6px 6px rgba(0, 0, 0, 0.43);
  margin: 30px; }
  @media (max-width: 768px) {
    .container {
      padding: 50px; } }

p {
  font-size: 18px;
  color: #444;
  text-align: center; }

h3 {
  text-transform: uppercase;
  text-align: center;
  color: #999;
  font-weight: 300;
  font-size: 24px;
  margin-top: 0; }
  @media (max-width: 768px) {
    h3 {
      font-size: 20px; } }

.title {
  text-align: center;
  font-size: 9em;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #444;
  font-weight: 700;
  margin: 0;
  line-height: 1.3em; }
  @media (max-width: 768px) {
    .title {
      font-size: 6em; } }
  @media (max-width: 320px) {
    .title {
      font-size: 3em; } }
  .title a {
    text-decoration: none;
    color: #444; }

.scriptfont {
  font-family: "Bangers", cursive;
  font-size: 1.22em;
  color: #f56061; }

#mc_embed_signup,
#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  background: none;
  background-color: none; }

#mc_embed_signup .button {
  background: #f56061;
  width: 96%;
  padding: 25px 22px;
  line-height: 0;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: .05em;
  font-weight: bold; }
  #mc_embed_signup .button:hover {
    background: #dd4142; }
