$displayfont1: 'Knewave', cursive;
$displayfont2: 'Bungee Shade', cursive;
$displayfont3: 'Chewy', cursive;
$displayfont4: 'Bangers', cursive;
$font-sans: 'Oswald', sans-serif;
$color1: #14317b;
$color2: #f56061;
$color3: #444;
$color4: #999;
$shadow-1: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.43);
$shadow-2: 0 10px 20px rgba(0,0,0,0.39), 0 6px 6px rgba(0,0,0,0.43);